{
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["**/*.html"],
      "options": {
        "printWidth": 100,
        "htmlWhitespaceSensitivity": "ignore"
      }
    },
    {
      "files": ["**/*.css"],
      "options": {
        "printWidth": 80,
        "htmlWhitespaceSensitivity": "css"
      }
    }
  ]
}
